/*! normalize.css 2011-11-04T15:38 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
audio:not([controls]) {
  display: none; }

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  overflow-y: scroll;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 3 */ }

/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0; }

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
body,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Neutralise smaller font-size in 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em; }

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none; }

/* 2 */
q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
ul,
ol {
  margin-left: 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */
  *margin-left: -7px;
  /* 2 */ }

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */ }

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */ }

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding that is displayed in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

body {
  font-family: sans-serif; }

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both; }

.bg_background {
  background-image: url("../images/bg.jpg");
  background-size: cover; }

.header-sub-text {
  color: white;
  text-align: center;
  padding-top: 50px; }

@media only screen and (max-width: 760px) {
  .first_row img {
    width: 100%; } }
@media only screen and (min-width: 761px) {
  .first_row {
    text-align: center;
    padding-top: 70px; } }

@media only screen and (max-width: 760px) {
  .icons {
    display: none; } }
.icons div {
  background: url("../images/grafika/bha.png") no-repeat;
  background-size: 170px 175px;
  height: 175px; }
  .icons div:hover {
    background: url("../images/grafika/portbg.png") no-repeat; }
.icons a {
  text-decoration: none; }
  .icons a span {
    position: relative;
    left: 55px;
    top: 50px;
    color: white;
    font-size: 11px; }
  .icons a::before {
    background-image: url("../images/grafika/menu-icons.png");
    content: "";
    display: block;
    height: 65px;
    width: 65px;
    position: relative;
    left: 37px;
    top: 37px; }

.icon_about::before {
  background-position: 0 0; }

.icon_team::before {
  background-position: 0 -65px; }

.icon_services::before {
  background-position: 0 -130px; }

.icon_portfolio::before {
  background-position: 0 -195px; }

.icon_blog::before {
  background-position: 0 -260px; }

.icon_contact::before {
  background-position: 0 -325px; }

.arrow_down {
  display: block;
  position: relative;
  left: 40%; }

.logo_position {
  float: left; }

.navbar_position {
  float: right; }
  @media only screen and (max-width: 760px) {
    .navbar_position {
      display: block !important;
      width: 100%;
      text-align: center;
      font-size: 1.5em; } }
  .navbar_position li {
    display: inline-block;
    position: relative;
    margin-right: 10px; }
    @media only screen and (max-width: 760px) {
      .navbar_position li {
        display: block;
        width: 100%; } }
  .navbar_position a {
    text-decoration: none;
    color: gray; }

.gray_background {
  background-color: #eeeeee; }

.four_icons li {
  display: inline-block;
  width: 24%;
  text-align: center; }
  @media only screen and (max-width: 760px) {
    .four_icons li {
      width: 45%; } }
  @media only screen and (max-width: 600px) {
    .four_icons li {
      width: 100%; } }
  .four_icons li::before {
    background-image: url("../images/grafika/icons-sprite.png");
    content: "";
    display: block;
    height: 200px;
    width: 200px;
    position: relative;
    left: 30px; }
  .four_icons li:hover::before {
    background-image: url("../images/grafika/icons-sprite-hover.png"); }

.icon_heart::before {
  background-position: 0 0; }

.icon_diamond::before {
  background-position: 0 -200px; }

.icon_cup::before {
  background-position: 0 -400px; }

.icon_phone::before {
  background-position: 0 -600px; }

.button_violet, .about_us a, .watchmore a, .contact-left a {
  display: block;
  background-color: #9f449b;
  color: white;
  padding: 15px 30px;
  position: absolute;
  width: auto;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px; }

@media only screen and (max-width: 760px) {
  .mockup {
    width: 100%; } }

.about_us {
  position: relative;
  padding: 50px 0; }
  .about_us p {
    padding-bottom: 60px; }

.section-header {
  text-align: center;
  color: #9f449b; }
  .section-header span {
    color: darkgray; }
  .section-header h1 {
    padding: 20px;
    display: inline-block;
    font-weight: 300;
    position: relative;
    width: auto; }
    .section-header h1::before {
      content: "";
      height: 0.75em;
      width: 0.75em;
      border-bottom: 1px solid #9f449b;
      border-left: 1px solid #9f449b;
      display: inline-block;
      position: absolute;
      left: 0;
      bottom: 0; }
    .section-header h1::after {
      content: "";
      height: 0.75em;
      width: 0.75em;
      border-top: 1px solid #9f449b;
      border-right: 1px solid #9f449b;
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0; }

.section-bg {
  background-image: url("../images/grafika/section-bg.jpg");
  background-size: cover;
  text-align: center;
  padding: 50px 0; }
  .section-bg h2 {
    color: white; }
  .section-bg .pic_h2 {
    padding: 70px; }

.arrow {
  text-align: center;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px; }

.arrows, .arrow_left, .arrow_right {
  height: 66px;
  width: 66px;
  display: inline-block;
  background-repeat: no-repeat; }

.arrow_left {
  background-image: url("../images/grafika/arr-l.png");
  background-size: 61px; }

.arrow_right {
  background-image: url("../images/grafika/arr-r.png");
  background-size: 61px; }

.circle {
  border-radius: 50%;
  display: inline-block;
  height: 180px;
  width: 180px;
  border: 1px solid #cdcdcd;
  background-color: #cdcdcd;
  padding: 10px 10px;
  text-align: center; }
  @media only screen and (max-width: 760px) {
    .circle {
      display: block;
      margin: 0 auto; } }

.fb_google, .fb, .google, .twitter {
  height: 50px;
  width: 50px;
  display: inline-block;
  background-size: 50px auto;
  margin: 0 12px; }

.fb {
  background-image: url("../images/f.png");
  height: 48px; }

.google {
  background-image: url("../images/g.png"); }

.twitter {
  background-image: url("../images/t.png"); }

.stripe_webdesign {
  background-color: red;
  background-image: linear-gradient(to right, #9f449b 90%, #cdcdcd 1%);
  height: 10px;
  width: 300px;
  position: relative; }

.stripe_graphicdesign {
  background-color: red;
  background-image: linear-gradient(to right, #9f449b 70%, #cdcdcd 1%);
  height: 10px;
  width: 300px;
  position: relative; }

.stripe_htmlcss {
  background-color: red;
  background-image: linear-gradient(to right, #9f449b 75%, #cdcdcd 1%);
  height: 10px;
  width: 300px;
  position: relative; }

.stripe_uiux {
  background-color: red;
  background-image: linear-gradient(to right, #9f449b 85%, #cdcdcd 1%);
  height: 10px;
  width: 300px;
  position: relative; }

.list_with_stripes {
  max-width: 950px;
  margin: 0 auto; }
  .list_with_stripes ul {
    padding: 0;
    overflow: hidden;
    list-style: none; }
  .list_with_stripes li {
    float: left;
    clear: left;
    font-size: 18px; }
    .list_with_stripes li:nth-child(even) {
      float: right;
      clear: right; }
  .list_with_stripes h3 {
    display: inline-block;
    width: 270px; }
  .list_with_stripes span {
    display: inline-block;
    font-weight: lighter; }

.four_items ul {
  font-size: 0; }
.four_items li {
  display: inline-block;
  width: 25%;
  text-align: center;
  font-size: 18px; }
  @media only screen and (max-width: 760px) {
    .four_items li {
      display: block;
      width: 100%;
      text-align: center; } }
  .four_items li p {
    padding-bottom: 140px; }
    @media only screen and (max-width: 760px) {
      .four_items li p {
        padding-bottom: 30px; } }
.four_items h1 {
  margin-bottom: 0;
  font-weight: lighter; }
.four_items p {
  margin-top: 0;
  font-weight: lighter;
  color: #4b4b4b; }

.quote h2 {
  text-align: center;
  color: #777777;
  font-weight: lighter; }

.bottom-text p {
  text-align: center;
  color: #4b4b4b;
  font-size: 12px;
  font-weight: bold; }

.portfolio-list {
  text-align: center; }
  .portfolio-list li {
    display: inline-block;
    padding: 5px 10px;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 5px; }
    .portfolio-list li:hover {
      border-color: #9f449b; }

.img_portfolio_list div {
  display: inline-block;
  text-align: center; }
  .img_portfolio_list div h3 {
    font-weight: lighter; }

@media only screen and (max-width: 760px) {
  .watchmore {
    display: block;
    text-align: center; } }

input {
  display: inline-block; }

select,
input {
  display: inline-block; }

.contact-left {
  width: 600px;
  height: 350px;
  display: inline-block;
  margin-bottom: 90px;
  vertical-align: top; }
  @media only screen and (max-width: 760px) {
    .contact-left {
      width: 100%;
      display: block; } }

.contact-left input,
.contact-left textarea {
  height: 63px;
  width: 596px;
  border: 1px solid #898989;
  font-size: 34px;
  font-family: "ralewayextralight", sans-serif;
  margin: 20px 0;
  padding: 15px; }

.contact-left textarea {
  height: 180px;
  max-height: 180px;
  max-width: 596px; }

.contact-right {
  width: 320px;
  height: 405px;
  display: inline-block;
  margin: 0 0 90px 50px;
  line-height: 25px;
  position: relative; }
  .contact-right p {
    color: #4b4b4b; }
  .contact-right h4 {
    color: #222222; }
  .contact-right span {
    color: #4b4b4b;
    font-weight: bold; }

::-webkit-input-placeholder {
  color: #222222;
  font-weight: lighter; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #222222;
  font-weight: lighter; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #222222;
  font-weight: lighter; }

:-ms-input-placeholder {
  color: #222222;
  font-weight: lighter; }

footer {
  text-align: center; }

.overlay {
  width: 1140px;
  overflow: hidden;
  position: relative; }

.with_circle {
  position: relative;
  width: 3800px; }
  .with_circle li {
    width: 380px;
    float: left;
    list-style: none; }

/*with_circle {
    display: inline-block;
  li{
    position: relative;
    display: inline-block;
    width: 32%;
    text-align: center;
  }
}
*/
.slide_container {
  width: 4000px;
  position: relative; }

.c-hamburger {
  display: none;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 96px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  background-color: #9f449b;
  transition: background 0.3s; }
  @media only screen and (max-width: 760px) {
    .c-hamburger {
      display: block;
      float: right; } }

.c-hamburger:focus {
  outline: none; }

.c-hamburger span {
  display: block;
  position: absolute;
  top: 44px;
  left: 18px;
  right: 18px;
  height: 8px;
  background: white; }

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #fff;
  content: ""; }

.c-hamburger span::before {
  top: -20px; }

.c-hamburger span::after {
  bottom: -20px; }

.c-hamburger--htx {
  background-color: #ff3264; }

.c-hamburger--htx span {
  transition: background 0s 0.3s; }

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s; }

.c-hamburger--htx span::before {
  transition-property: top, transform; }

.c-hamburger--htx span::after {
  transition-property: bottom, transform; }

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: #cb0032; }

.c-hamburger--htx.is-active span {
  background: none; }

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg); }

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg); }

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s; }

@media only screen and (max-width: 760px) {
  .hide {
    display: none !important; } }

.active {
  background-color: #9f449b;
  border-color: #9f449b !important;
  color: white !important; }

.nav-bar--fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  opacity: 0.8;
  z-index: 100; }

.nav-bar {
  padding-top: 10px !important; }

.dots_list {
  display: block;
  position: absolute;
  bottom: 0;
  left: 36%; }
  .dots_list li {
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    height: 10px;
    width: 10px;
    border: 1px solid #cdcdcd;
    list-style: none;
    background-color: #cdcdcd; }

.active2 {
  border: 1px solid black !important;
  background-color: black !important; }

.slide_container {
  width: 6000px;
  position: absolute; }

.slide {
  display: inline-block;
  width: 980px;
  overflow: hidden; }

.gray_background .container {
  overflow: hidden;
  height: 700px;
  position: relative; }

.delete_margin {
  padding-top: 12px !important;
  padding-bottom: 12px !important; }

.header_with_icons a {
  display: block;
  height: 100%;
  width: 100%; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-top: 50px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-11 {
    width: 91.66666667%; }

  .col-sm-10 {
    width: 83.33333333%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-8 {
    width: 66.66666667%; }

  .col-sm-7 {
    width: 58.33333333%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-5 {
    width: 41.66666667%; }

  .col-sm-4 {
    width: 33.33333333%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-2 {
    width: 16.66666667%; }

  .col-sm-1 {
    width: 8.33333333%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-pull-11 {
    right: 91.66666667%; }

  .col-sm-pull-10 {
    right: 83.33333333%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-8 {
    right: 66.66666667%; }

  .col-sm-pull-7 {
    right: 58.33333333%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-5 {
    right: 41.66666667%; }

  .col-sm-pull-4 {
    right: 33.33333333%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-2 {
    right: 16.66666667%; }

  .col-sm-pull-1 {
    right: 8.33333333%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-push-11 {
    left: 91.66666667%; }

  .col-sm-push-10 {
    left: 83.33333333%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-8 {
    left: 66.66666667%; }

  .col-sm-push-7 {
    left: 58.33333333%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-5 {
    left: 41.66666667%; }

  .col-sm-push-4 {
    left: 33.33333333%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-2 {
    left: 16.66666667%; }

  .col-sm-push-1 {
    left: 8.33333333%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-offset-12 {
    margin-left: 100%; }

  .col-sm-offset-11 {
    margin-left: 91.66666667%; }

  .col-sm-offset-10 {
    margin-left: 83.33333333%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-8 {
    margin-left: 66.66666667%; }

  .col-sm-offset-7 {
    margin-left: 58.33333333%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-5 {
    margin-left: 41.66666667%; }

  .col-sm-offset-4 {
    margin-left: 33.33333333%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-2 {
    margin-left: 16.66666667%; }

  .col-sm-offset-1 {
    margin-left: 8.33333333%; }

  .col-sm-offset-0 {
    margin-left: 0%; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-12 {
    width: 100%; }

  .col-md-11 {
    width: 91.66666667%; }

  .col-md-10 {
    width: 83.33333333%; }

  .col-md-9 {
    width: 75%; }

  .col-md-8 {
    width: 66.66666667%; }

  .col-md-7 {
    width: 58.33333333%; }

  .col-md-6 {
    width: 50%; }

  .col-md-5 {
    width: 41.66666667%; }

  .col-md-4 {
    width: 33.33333333%; }

  .col-md-3 {
    width: 25%; }

  .col-md-2 {
    width: 16.66666667%; }

  .col-md-1 {
    width: 8.33333333%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-pull-11 {
    right: 91.66666667%; }

  .col-md-pull-10 {
    right: 83.33333333%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-8 {
    right: 66.66666667%; }

  .col-md-pull-7 {
    right: 58.33333333%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-5 {
    right: 41.66666667%; }

  .col-md-pull-4 {
    right: 33.33333333%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-2 {
    right: 16.66666667%; }

  .col-md-pull-1 {
    right: 8.33333333%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-push-11 {
    left: 91.66666667%; }

  .col-md-push-10 {
    left: 83.33333333%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-8 {
    left: 66.66666667%; }

  .col-md-push-7 {
    left: 58.33333333%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-5 {
    left: 41.66666667%; }

  .col-md-push-4 {
    left: 33.33333333%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-2 {
    left: 16.66666667%; }

  .col-md-push-1 {
    left: 8.33333333%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-offset-12 {
    margin-left: 100%; }

  .col-md-offset-11 {
    margin-left: 91.66666667%; }

  .col-md-offset-10 {
    margin-left: 83.33333333%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-8 {
    margin-left: 66.66666667%; }

  .col-md-offset-7 {
    margin-left: 58.33333333%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-5 {
    margin-left: 41.66666667%; }

  .col-md-offset-4 {
    margin-left: 33.33333333%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-2 {
    margin-left: 16.66666667%; }

  .col-md-offset-1 {
    margin-left: 8.33333333%; }

  .col-md-offset-0 {
    margin-left: 0%; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-11 {
    width: 91.66666667%; }

  .col-lg-10 {
    width: 83.33333333%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-8 {
    width: 66.66666667%; }

  .col-lg-7 {
    width: 58.33333333%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-5 {
    width: 41.66666667%; }

  .col-lg-4 {
    width: 33.33333333%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-2 {
    width: 16.66666667%; }

  .col-lg-1 {
    width: 8.33333333%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-pull-11 {
    right: 91.66666667%; }

  .col-lg-pull-10 {
    right: 83.33333333%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-8 {
    right: 66.66666667%; }

  .col-lg-pull-7 {
    right: 58.33333333%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-5 {
    right: 41.66666667%; }

  .col-lg-pull-4 {
    right: 33.33333333%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-2 {
    right: 16.66666667%; }

  .col-lg-pull-1 {
    right: 8.33333333%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-push-11 {
    left: 91.66666667%; }

  .col-lg-push-10 {
    left: 83.33333333%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-8 {
    left: 66.66666667%; }

  .col-lg-push-7 {
    left: 58.33333333%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-5 {
    left: 41.66666667%; }

  .col-lg-push-4 {
    left: 33.33333333%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-2 {
    left: 16.66666667%; }

  .col-lg-push-1 {
    left: 8.33333333%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .col-lg-offset-11 {
    margin-left: 91.66666667%; }

  .col-lg-offset-10 {
    margin-left: 83.33333333%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-8 {
    margin-left: 66.66666667%; }

  .col-lg-offset-7 {
    margin-left: 58.33333333%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-5 {
    margin-left: 41.66666667%; }

  .col-lg-offset-4 {
    margin-left: 33.33333333%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-2 {
    margin-left: 16.66666667%; }

  .col-lg-offset-1 {
    margin-left: 8.33333333%; }

  .col-lg-offset-0 {
    margin-left: 0%; } }
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both; }

/*# sourceMappingURL=style.css.map */
